node_modules
bower_components
coverage
dist
dist/report.html

.eslintcache
*.log
.env

# In fact it's dist-like folder after Storybook reload.
# Ideal case to have it ignored, and NodeJS/Apache folder root to be used instead.
dist
storybook-static